.str0 {
    stroke:white;
    stroke-width:76.36;
    stroke-miterlimit:22.9256
}
    
.fil0 {
    fill:#09baf0
}

.fil0:hover {
    fill:#00dbf8
}

.fil1 {
    fill:#09baf0
}

.fil1:hover {
    fill:#f80505
}